//左侧主体变量
$bg-color-default:#931719 !default;
$bg-color-warning:rgb(240, 200, 125) !default;
$bg-color-success:#f0f9eb !default;
$bg-color-warning:rgb(240, 200, 125) !default;
//左侧导航变量
$navbg:#bc3335!default;
$navbg-item-active:#e06d5c!default;
$navbg-item-hover:#ee5c5e!default;//按钮聚焦色
$navbg-line-color:#c0c4cc!default; //线条色
$navbg-circle:rgb(251, 116, 121) !default;//圆背景色