//左侧主体变量
$bg-color-default:#931719 !default;
$bg-color-warning:rgb(240, 200, 125) !default;
$bg-color-success:#f0f9eb !default;
$bg-color-warning:rgb(240, 200, 125) !default;
//左侧导航变量
$navbg:#fff!default;
$navbg-item-active:#daeeff!default;
$navbg-item-hover:#daeeff!default;//按钮聚焦色
$navbg-line-color:#c0c4cc!default; //线条色
$navbg-circle:#3f99f7 !default;//圆背景色
// 表格变量
$style-table-header-bg:#3f99f7 !default;//表格头背景色