// 头部样式
.el-header{
  background:url("~@/assets/img/head_01.jpg");
}
.layout.flex .cell {
  display: flex;
}
.left {
  width: 200px;
  float: left;
}

.right {
  margin-left: 200px;
}

.top {
  height: 100px;
}

.jt span:after {
  position: relative;
  display: block;
  float: left;
  top: 8px;
  left: 54%;
  width: 5px;
  height: 5px;
  content: " ";
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg);
}

.el-table thead {
  color: white;
}

.el-table thead {
  th,
  tr {
    background: #033c81;
  }
}

.el-table .warning-row {
  background: rgb(240, 200, 125);
}

.el-table__expanded-cell {
  font-size: 0;
  background: oldlace;
}

.ar-table {
  .el-table__expanded-cell[class*="cell"] {
    padding: 0px 0px;
  }
  .el-table .success-row {
    background: #f0f9eb;
  }
  .el-table .expendcolor {
    background: oldlace;
  }
}

.main {
  padding: 0px 10px;
}

.main > .body {
  margin: 0px 0px 10px 0px;
}

.el-card__header > .clearfix {
  display: flex;
  align-items: center;
  img {
    height: 30px;
  }
}

.top {
  height: 100px;
  background: url(~@/assets/img/juxin_03.png) #931719 center no-repeat;
} // 时间选择器范围颜色
.el-date-table td.in-range div,
.el-date-table td.in-range div:hover,
.el-date-table.is-week-mode .el-date-table__row.current div,
.el-date-table.is-week-mode .el-date-table__row:hover div {
  background: rgba(236, 156, 145, 0.884);
}