@import "../assets/css/base";
// 头部样式
.el-header{
  background:url("~@/assets/img/images/header_bg_01.png");
}
.layout.flex .cell {
  display: flex;
}
.left {
  width: 200px;
  float: left;
}

.right {
  margin-left: 200px;
}

.top {
  height: 100px;
}

.jt span:after {
  position: relative;
  display: block;
  float: left;
  top: 8px;
  left: 54%;
  width: 5px;
  height: 5px;
  content: " ";
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg);
}

.el-table thead {
  color: white;
}

.el-table thead {
  th,
  tr {
<<<<<<< HEAD
    // background: #033c81;
    background: #3F97F8;
  }
}
.el-dialog--center {
  .el-dialog__body{
    padding:0 25px;
=======
    background:$style-table-header-bg;
>>>>>>> 50feb7539a65247a8759600af7b543c1639fa99b
  }
}

.el-table .warning-row {
  background: #fcf;
}

.el-table__expanded-cell {
  font-size: 0;
  background: #ffc;
}

.ar-table {
  .el-table__expanded-cell[class*="cell"] {
    padding: 0px 0px;
  }
  .el-table .success-row {
    background: #f0f9eb;
  }
  .el-table .expendcolor {
    background: oldlace;
  }
}

.main {
  padding: 0px 10px;
  margin-top: 40px;
}

.main > .body {
  margin: 0px 0px 10px 0px;
}

.el-card__header > .clearfix {
  display: flex;
  align-items: center;
  img {
    height: 30px;
  }
}

.top {
  height: 100px;
  background: url(~@/assets/img/juxin_03.png) #931719 center no-repeat;
} // 时间选择器范围颜色
.el-date-table td.in-range div,
.el-date-table td.in-range div:hover,
.el-date-table.is-week-mode .el-date-table__row.current div,
.el-date-table.is-week-mode .el-date-table__row:hover div {
  background: rgba(236, 156, 145, 0.884);
}
// 弹窗最小样式
.dia-class{
  min-width: 850px;
}
// 按钮样式
.el-button--default{
  border: 1px solid #65b6fa;
  color: #65b6fa;
}