$title-color:#303133;//标题颜色
$text-color:#606266;//内容颜色
.title {
  color: $title-color;
  line-height: 24px;
  font-size: 18px;
}

section {
  padding: 0px 20px;
// 非提示列样式
>ul {
  position: relative;
  border-top: .5px solid #931719;
  border-left: .5px solid #931719;
  margin: 0;
  border-right: .5px solid #931719;
  padding: 0;
  text-align: left;
}
>ul:not(.height-auto) {
  height: 44px;
  line-height: 44px;
}
>ul:last-of-type {
  border-bottom: 0.5px solid #931719;
}

li {
  list-style: none;
  width: 48%;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 44px;
  padding-left: 5px;
  color: $title-color;
}

li:not(:first-of-type) {
  border-left: 0.5px solid #931719;
}
}
.inline-blox {
  display: inline-block;
}

ul>span {
  padding-left: 5px;
  color: $title-color;
}

.el-checkbox {
  margin-left: 30px;
}

.a-link-group>a {
  margin-left: 30px;
}

.a-link-group>label {
  margin-left: 5px;
  color: $text-color;
}
.a-link-group>label.first-child {
  margin-left: 30px;
}

.a-link-group>label:not(:last-of-type)::after {
  content: ','
}

span>em {
  color: $text-color;
  font-style: normal;
}
.wd-3 {
  width: 31%;
}
// 提示样式
.status-tooltip {
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    display: inline-block;
  }
  ul:last-child {
    li {
      width: 63px;
    }
    li:nth-of-type(n + 3) {
      width: 75px;
    }
  }
}