#title {
  color: #931719;
  line-height: 24px;
  font-size: 18px;
}

section {
  padding: 0px 20px;
}

ul {
  position: relative;
  border-top: .5px solid #931719;
  border-left: .5px solid #931719;
  margin: 0;
  border-right: .5px solid #931719;
  padding: 0;
  min-height: 32px;
}

ul:last-of-type {
  border-bottom: 0.5px solid #931719;
}

li {
  list-style: none;
  width: 31%;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 32px;
  text-align: left;
  padding-left: 5px;
}
li:not(:first-of-type){
  border-left: 0.5px solid #931719;
}
.inline-blox {
  display: inline-block;
}
ul>span{
  padding-left: 5px;
}
.el-checkbox{
  margin-left: 30px;
}
.a-link-group>a{
  margin-left:30px;
}
.a-link-group>label{
    margin-left: 5px;
}
.a-link-group>label:not(:last-of-type)::after{
  content: ','
}