.mon-range-start{
  width: 125px;
  >.el-input.el-input--small{
    width: 125px;
  }
}
.mon-range-end{
  >.el-input.el-input--small{
    width: 125px;
  }
}
// 输入框宽度
.el-input.el-input--small, .el-select.el-select--small{
  width: 165px;
}