.line {
  text-align: center;
}
// @media screen and (min-width:1290px) and (max-width: 1405px) {
//   form {
//       width: 950px;
//   }
// }
form {
        min-width: 950px;
        margin-top: 8px;
    }
.el-date-editor.el-range-editor.el-input__inner.el-date-editor--daterange.el-range-editor--small{
  width: 275px;
  margin-right: 10px;
}
.el-input.el-input--small,.el-select.el-select--small {
  width: 175px;
}
.el-col-10>.el-input.el-input--small {
  width: 100%;
}