form {
  padding: 10px;
}
.line {
  text-align: center;
}
// @media screen and (min-width:1290px) and (max-width: 1405px) {
//   form {
//       width: 950px;
//   }
// }
form {
        min-width: 950px;
    }
.el-date-editor.el-range-editor.el-input__inner.el-date-editor--daterange.el-range-editor--mini {
  width: 300px;
}
.el-input.el-input--small {
  width: 190px;
}
.el-col-10>.el-input.el-input--small {
  width: 100%;
}